*, *::before, *::after{
	box-sizing: border-box;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
/*     height: 100%; */
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	background-image: url('');
    font-family: 'Roboto', sans-serif;
    background-color: #fff;
	
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
/* end of reset css */



.wrapper    {
width: 1920px;
margin: 0 auto;
background-color: white;
display: flex;
flex-flow: column nowrap;
/* height: 100%; */
}
/* header  */
.header {
    background-color: #020509;
    height: 95px;
    display: flex;
    justify-content: space-around;
    text-transform: uppercase;
    align-items: center;
    border: 1px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.header h2{
    font-size: 16px;
    font-weight: 900;
    color: #D4DDE1;
    line-height: 26.26px;
    letter-spacing: 8px;
}
.header-list{
    display: flex;
    column-gap: 40px;
}
.header >li, a{
    color: #D4DDE1;    
    text-decoration: none;
    line-height: 26.25px;
    letter-spacing: 10%;

}
.word-main{
    color: #FF0038;
    font-weight: 500;    
}

/* main-box */

.button{
    background-color: yellow;
    border: 0px solid yellow;
    width: 225px;
    height: 65px;
    line-height: 26px;
    letter-spacing: 0.1em;
    color: #020509;
    cursor: pointer;
}
.header-two{
    font-weight: 500;
    font-size: 32px;
    line-height: 38px;
    text-align: center;
    color: #020509;
}
.fish-text{
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #727272;
    width: 540px;
    align-self: center;
} 

/* design */
.design-flex-wrapper{
    background-color: #fff;
}
.design-box{
    background: #fff;
    width: 540px;
    margin-left: 300px;
}
.design-box > h1{
    font-weight: 500;
    font-size: 48px;
    line-height: 79px;
    color: #020509;  
    margin: 252px 0px 45px;
}
.design-box > p{
    line-height: 26px;
    color: #727272;
    margin-bottom: 45px;
}
.design-box > button{
    margin-bottom: 181px;
}
/* about-me */
.about-me{
    background: rgba(0, 207, 250, 0.05);
    display: flex;
    flex-flow: column nowrap;
}
.about-me > h2{
    margin-bottom: 65px;
}
.about-me > p{
    margin-bottom: 85px;
}
/* projects-box */
.projects{
    background: #020509;
    color: #fff;
    line-height: 15px;
    height: 250px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
}

.ul-flex-box{
    display: flex;
    justify-content: space-around;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.projects-coutn-flex-wrapper{
    display: flex;
    justify-content: space-around;
    text-transform: uppercase;
}
.fourty-word{
    font-size: 24px;
    line-height: 25px;
}
/* how do i work */
.how-do-i-work{
    background: rgba(0, 207, 250, 0.05);
    display: flex;
    flex-flow: column nowrap;
}
.how-do-i-work > h2{
    margin-top: 85px;
    margin-bottom: 65px;
}
.how-do-i-work > p{
    margin-bottom: 85px;
}
.big-image{
    width: 1200px;
    height: auto;
    align-self: center;
    margin-bottom: 70px;
}
.how-do-i-work > button{
    margin-bottom: 70px;
    align-self: center;
}
/* footer */
.footer {
    background-color: #020509;
    color: #fff;
    border: 1px solid;
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 18px;
    line-height: 25px;
}







/* .footer {
    background-color: #020509;
    color: white;
} */